/* =========================
   DARK MODE
========================= */


body.dark{

    background:#0f172a;

    color:#f8fafc;

}


/* All sections */

body.dark section{

    background:#0f172a;

    color:#f8fafc;

}


/* Navbar */

body.dark .navbar{

    background:#0f172a;

}


body.dark .logo{

    color:white;

}


body.dark .nav-links a{

    color:white;

}



/* Hero */

body.dark .hero h1{

    color:white;

}


body.dark .hero p{

    color:#cbd5e1;

}



/* Cards */

body.dark .card,
body.dark .price-card,
body.dark .team-card,
body.dark .faq-item,
body.dark .resource-card{

    background:#1e293b;

    color:white;

}



/* Headings */

body.dark h1,
body.dark h2,
body.dark h3{

    color:white;

}



/* Inputs */

body.dark input,
body.dark textarea{

    background:#1e293b;

    color:white;

    border:1px solid #475569;

}



/* Trusted companies */

body.dark .company-logos div{

    background:#1e293b;

    color:white;

}



/* Footer */

body.dark footer{

    background:#020617;

    color:white;

}



/* Buttons */

body.dark .btn-primary{

    background:#2563eb;

    color:white;

}